<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Site keywords here">
  <meta name="description" content="">
  <meta name='copyright' content=''>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>DigiJob-careers</title>

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    body {
	font-family: 'Poppins';
  
	font-size: 16px;
	overflow-x: hidden;
  }
.form{
    margin: 180px;
    height: 100%;
}
.bg-primar{
    background-color: #235BA8;
}
</style>

<body class="bg-light">
    <section class="py-5 form">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="pe-lg-3">
                        <h1 class="display-3 fw-bold mb-2 mb-md-3">Ouvrez de nouvelles perspectives d'innovation avec <span style="color: #235BA8;">DigiJob !</span></h1>
                        <p class="lead mb-4">Explorez un vivier exceptionnel de talents digitaux féminins.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ps-lg-5">
                        <div class="card shadow-lg border border-primary text-white text-left h-100">
                            <div class="card-body bg-primar p-4 p-xl-5">
                                <h2 class="pb-3 text-center">Connectez-vous pour recruter plus jeunes talents !</h2>
                                <form action="/loginRecruteurs" method="post">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">Email</label> <input class="form-control" id="email" type="email" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="password">Mot de passe</label> <input class="form-control" id="password" type="password" name="password">
                                    </div>
                                    <button class="btn btn-dark btn-lg" type="submit">Connexion</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</body>

</html>