<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>DigiJob-careers.</title>

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="views/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="views/assets/vendor/bootstrap-icons/bootstrap-icons.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="views/assets/css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="views/assets/css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="views/assets/css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="views/assets/css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="views/assets/css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="views/assets/css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="views/assets/css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="views/assets/css/magnific-popup.css">
	<!-- Medipro CSS -->
	<link rel="stylesheet" href="views/assets/css/normalize.css">
	<link rel="stylesheet" href="views/assets/css/style.css">
	<link rel="stylesheet" href="views/assets/css/responsive.css">
</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="70px" height="15px">
					<text x="0" y="15" fill="white">DIGIJOB</text>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Header Area -->
	<header class="header">
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="index.html"><img src="views/assets/img/logodigif.jpeg" alt="#"
										class="mx-3">DIGIJOB</a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="#hero">Accueil</a>
										</li>
										<li><a class="nav-link scrollto" href="#entreprises">Les entreprises </a></li>
										<li><a class="nav-link scrollto" href="#offres-disponibles">Les offres </a></li>
										<li><a class="nav-link scrollto" href="#evenements">Les évènements</a></li>
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
						<div class="col-lg-2 col-12">
							<div class="get-quote d-flex justify-content-md-around">
								<a href="/loginRecruteurs" class="btn connexion-btn">Espace Recruteur</a>
								<a href="/loginDigicodeuses" class="btn connexion mx-2">Espace Digicodeuse</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

	<!-- Slider Area -->
	<section class="slider" id="hero">
		<div class="hero-slider">
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('views/assets/img/digifemmeacademie.jpeg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Bienvenue sur <span>DigiJob</span> L'endroit où les opportunités se transforment en
									<span>Carrières enrichissantes</span>
								</h1>
								<p>Votre prochaine grande aventure professionnelle commence ici.</p>
								<div class="button">
									<a href="/loginDigicodeuses" class="btn">Trouver un emploi</a>
									<a href="/connexionRecruteur" class="btn primary">Trouver un Talent</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('views/assets/img/digifemmeacademie3.jpeg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Bienvenue sur <span>DigiJob</span> L'endroit où les opportunités se transforment en
									<span>Carrières enrichissantes</span>
								</h1>
								<p>Votre prochaine grande aventure professionnelle commence ici.</p>
								<div class="button">
									<a href="/loginDigicodeuses" class="btn">Trouver un emploi</a>
									<a href="/connexionRecruteur" class="btn primary">Trouver un Talent</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Start End Slider -->
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('views/assets/img/digifemmeacademie4.jpeg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Bienvenue sur <span>DigiJob</span> L'endroit où les opportunités se transforment en
									<span>Carrières enrichissantes</span>
								</h1>
								<p>Votre prochaine grande aventure professionnelle commence ici.</p>
								<div class="button">
									<a href="/loginDigicodeuses" class="btn">Trouver un emploi</a>
									<a href="/connexionRecruteur" class="btn primary">Trouver un Talent</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
		</div>
	</section>
	<!--/ End Slider Area -->

	<!-- Start Schedule Area -->
	<section class="schedule bg-light">
		<div class="container">
			<div class="schedule-inner">
				<div class="row">
					<div class="col-lg-4 d-flex">
						<!-- single-schedule -->
						<div class="single-schedule first">
							<div class="inner">
								<div class="icon">
								</div>
								<div class="single-content">
									<h4 class="text-white">Notre vision</h4>
									<p class="text-white">Accompagnez les femmes du domaine digital dans leur recherche d'emploi en Côte
										d'Ivoire ou à l'étranger
										en les aidant à mieux se préparer aux processus de recrutement.</p>
									<!--<a href="#">Lire plus<i class="fa fa-long-arrow-right"></i></a>-->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 d-flex">
						<div class="icon-boxes d-flex flex-column justify-content-center">
							<div class="row">
								<div class="col-xl-4 d-flex">
									<!-- single-schedule -->
									<div class="single-schedule mt-4 mt-xl-0">
										<div class="inner">
											<div class="icon">
												<i class="icofont-prescription"></i>
											</div>
											<div class="single-content">
												<h4>Meilleure carrière</h4>
												<p>Préparez-vous à entrer sur le marché du travail. Assister et échanger avec des professionnels
												lors de nos évènements.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 d-flex">
									<!-- single-schedule -->
									<div class="single-schedule mt-4 mt-xl-0">
										<div class="inner">
											<div class="icon">
												<i class="icofont-ui-clock"></i>
											</div>
											<div class="single-content">
												<h4>Meilleur réseautage</h4>
												<p>Nous faisons appel à notre
													réseau de partenaires afin de vous trouver des postes
													qui
													correspondent à votre profil.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 d-flex">
									<!-- single-schedule -->
									<div class="single-schedule mt-4 mt-xl-0">
										<div class="inner">
											<div class="icon">
												<i class="icofont-ui-clock"></i>
											</div>
											<div class="single-content">
												<h4>Meilleurs profils</h4>
												<p>Nous vous connectons à une communauté d'innovatrices qui impacteront positivement votre entreprise.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ======= offres-disponibles Section ======= -->
	<section class="Feautes section offres-table bg-light" id="offres-disponibles">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Découvrez nos dernières offres d'emploi.</h2>
						<p>Chaque offre d'emploi est adaptée aux profils des candidates.</p>
					</div>
				</div>
			</div>
			<div class="row">
				{{range .Offres}}
				<div class="col-lg-6">
					<div class="offres d-flex align-items-start mb-3">
						<div class="pic"><img src="https://digijobs.asinyo.com/files/logoEntreprise/{{ .LogoEntreprise }}"
								class="img-fluid" alt=""></div>
						<div class="offres-info">
							<h4>{{.TitrePoste}}</h4>
							<span>{{.NomEntreprise}}</span>
							<span>{{.TypeContrat}}</span>
							<p>{{.DescriptionPoste}}</p>
							<div class="social">
								<p>{{.CreatedAt}}</p>
								<a href="/detailOffres?id={{ .Id }}" class="details scrollto text-white">Details</a>
							</div>
						</div>
					</div>
				</div>
				{{end}}
			</div>
		</div>
	</section>
	<!--/ offres-->

	<!-- Start Call to action -->
	<section class="call-action overlay" style="background: #00957E;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="content">
						<h2>Prenons Contact.</h2>
						<p>Explorez de nouvelles opportunités professionnelles et découvrez des talents exceptionnels.
                            Rejoignez notre plateforme dès maintenant pour faciliter la connexion entre recruteurs et
                            Candidates, et ouvrez la voie à un avenir professionnel prometteur !</p>
						<div class="button">
							<a href="/loginDigicodeuses" class="btn mt-4 mt-xl-0 p-3">VOUS ÊTES UN TALENT ? <i
									class="fa fa-long-arrow-right"></i></a>
							<a href="/loginRecruteur" class="btn second mt-4 mt-xl-0 p-3">VOUS ÊTES UN
								RECRUTEUR ?<i class="fa fa-long-arrow-right"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Call to action -->

	<section>
		<!-- ======= Counts Section ======= -->
		<div class="count">
			<section id="counts" class="counts">
				<div class="container">

					<div class="row">
						<div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
							<div class="count-box percentage">
								<i class="bi bi-patch-check"></i>
								<div class="content">
									<span class="counter mt-2">0</span>
									<p class="count-digit mt-2"></p>
									<p>Talents réussissent aux entretiens</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
							<div class="count-box">
								<i class="bi bi-wallet-fill"></i>
								<div class="content">
									<span class="counter mt-2">0</span>
									<p class="text-dark plus mt-2"></p>
									<p>Talents sont en emploi et en stage</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mt-5 mt-md-0">
							<div class="count-box">
								<i class="bi bi-house-fill"></i>
								<div class="content">
									<span class="counter mt-2">0</span>
									<p class="text-dark plus mt-2"></p>
									<p>Entreprises partenaires</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
							<div class="count-box">
								<i class="fa-solid fa-people-line"></i>
								<div class="content">
									<span class="counter mt-2">0</span>
									<p class="text-dark plus mt-2"></p>
									<p>Talents</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
		</div>
		<!-- End Counts Section -->
	</section>
	<!-- ======= Partenaire Section ======= -->
	<section id="entreprises">
		<div class="partenaire overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							{{range .Entreprises}}
							<div class="single-clients">
								<img src="https://digijobs.asinyo.com/files/logoEntreprise/{{ .Logo }}" alt="#"
									class="logo-image img-fluid1">
							</div>
							{{end}}

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End  Partenaire Section  -->
	<!-- Start event-->
	<section class="event section bg-light" id="evenements">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Participer à des évènements.</h2>
						<p>
							Démarrer sa carrière professionnelle peut parfois signifier, entrer en territoire inconnu.
C'est pourquoi il est extrêmement bénéfique de participer à nos événements physiques et virtuels, où vous pourrez échanger avec des experts. Cela vous permettra d'explorer de nouvelles perspectives et de dissiper les incertitudes.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				{{range .Evenements}}
				<div class="col-lg-4 col-md-6 col-12 mt-2 mb-2">
					<!-- Single event -->
					<div class="single-news">
						<div class="news-head">
							<img src="https://digijobs.asinyo.com/files/evenementsfile/{{ .FileUpload }}" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="">{{if .DateLimites}}Du {{end}} {{.DateEvent}} {{if .DateLimites}} au
									{{.DateLimites}} {{end}} </div>
								<h2><a href="blog-single.html">{{.TitreEvent}}</a></h2>
								<p class="text">{{.DescriptionEvent}}</p>
								<p><a href="/loginDigicodeuses" class="date mt-3">Détails</a></p>
							</div>
						</div>
					</div>
					<!-- End Single Blog -->
				</div>
				{{end}}
			</div>
		</div>
	</section>
	<!-- End event-->

	<!-- Start FAQ -->
	<section class="pricing-table section faq" id="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Questions fréquemment posées</h2>
						<p>Vous avez des questions ? Consulter notre rubrique des questions fréquemment posées.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="faq-list">
					<ul class="m-2">
						<li>
							<i class="bx bx-help-circle icon-help"></i> <a class="accordion">Comment puis-je m'inscrire
								sur Digijob?</a>
							<div class="collapsed">
								<p>
									Pour vous inscrire sur DigiJob c'est vraiment très simple. Vous devez d'abord être Digicodeuse ensuite, aller sur la partie "espace digicodeuse" et procéder à son inscription.
								</p>
							</div>
						</li>

						<li>
							<i class="bx bx-help-circle icon-help"></i> <a class="accordion">Y a-t-il des frais
								d'inscription ou d'utilisation?</a>
							<div class="collapsed">
								<p>
									Non
								</p>
							</div>
						</li>

						<li>
							<i class="bx bx-help-circle icon-help"></i> <a class="accordion">Comment puis-je postuler à
								une offre d'emploi? </a>
							<div class="collapsed">
								<p>
									Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus
									pulvinar elementum
									integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
									pellentesque eu tincidunt.
									Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis
									sed odio morbi
									quis
								</p>
							</div>
						</li>

						<li>
							<i class="bx bx-help-circle icon-help"></i> <a class="accordion">
								Comment puis-je enregistrer des événements pour y participer plus tard?
							</a>
							<div class="collapsed">
								<p>
									Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in
									est ante in. Nunc
									vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
									bibendum est. Purus
									gravida quis blandit turpis cursus in.
								</p>
							</div>
						</li>

						<li>
							<i class="bx bx-help-circle icon-help"></i> <a class="accordion">
								Comment puis-je créer un profil attractif en tant que candidat/digicodeur?</a>
							<div class="collapsed">
								<p>
									Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo
									integer malesuada
									nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor
									sed. Ut venenatis
									tellus in metus vulputate eu scelerisque.
								</p>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End FAQ -->

	<!-- ======= Testimonials Section ======= -->
	<section class="section testimonials bg-light" data-stellar-background-ratio="0.5" id="testimonial">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Ce que nos utilisateurs disent de notre plateforme</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="owl-carousel testimonial-slider">
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i> </p>
							<h4 class="name">Roro</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Esther</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Nafi</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Yvette</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Johann</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Roro</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Katy</h4>
						</div>
						<div class="single-testimonial">
							<img src="" alt="#">
							<p><i class="fa-solid fa-quote-left mx-2" style="color: #235BA8;"></i>Lorem ipsum dolor sit
								amet consectetur eliet adipiscing. Aliquam nec suscipit turpis, vel pretium eros. <i
									class="fa-solid fa-quote-right ms-2" style="color: #235BA8;"></i></p>
							<h4 class="name">Kate</h4>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Testimonials Section -->

	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer">
							<h2>A propos de nous</h2>
							<p>Que vous soyez en quête d'une aventure digitale pour propulser votre carrière
								ou que vous cherchiez à enrichir votre équipe avec les meilleurs talents du numérique,
								vous avez frappé à la bonne porte.</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="https://www.facebook.com/digifemmes1" target="_blank"><i
											class="bi bi-facebook"></i></a></li>
								<li><a href="https://www.linkedin.com/company/digifemmes/" target="_blank"><i
											class="bi bi-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/digifemmes/" target="_blank"><i
											class="bi bi-instagram"></i></a></li>
								<li><a href="https://twitter.com/DigiFemmes" target="_blank"><i
											class="bi bi-twitter"></i></a></li>
								<li><a href="https://www.tiktok.com/@digifemmes" target="_blank"><i
											class="bi bi-tiktok"></i></a></li>
								<li><a href="https://www.youtube.com/channel/UCGss3P1qjAI_nFl7twQu0gw"
										target="_blank"><i class="bi bi-youtube"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>

					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Liens rapides</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#hero"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Accueil</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>A Propos de
												nous</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Entreprises</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Offres</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Evènement</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#testimonial"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Temoignages</a></li>
										<li><a href="#faq"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Nous
												Contacter</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer">
							<h2>Newsletter</h2>
							<p>Abonnez-vous à notre newsletter pour obtenir des nouvelles actualités dans votre boîte de
								réception.</p>
							<form action="#" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
									required="" type="email">
								<button class="button"><i class="bi bi-send" style="color: #235BA8;"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2023 | All Rights Reserved by <a
									href="https://www.digifemmes.com/digifemmes-academy" target="_blank">DigiFemmes</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->

	<!-- jquery Min JS -->
	<script src="views/assets/js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="views/assets/js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="views/assets/js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="views/assets/js/easing.js"></script>
	<!-- Color JS -->
	<script src="views/assets/js/colors.js"></script>
	<!-- Popper JS -->
	<script src="views/assets/js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="views/assets/js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="views/assets/js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="views/assets/js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="views/assets/js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="views/assets/js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="views/assets/js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="views/assets/js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="views/assets/js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="views/assets/js/steller.js"></script>
	<!-- Wow JS -->
	<script src="views/assets/js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="views/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<!-- Main JS -->
	<script src="views/assets/js/main.js"></script>
</body>

</html>